---
layout: layout.liquid
title: Backpack
---
<nav>
    <ul>
      <li><a href="/" title="Return">Return</a></li>
    </ul>
  </nav>

<h1>My <strong>Backpack</strong></h1>

{% itemBox "Backpack", "/images/Backpack.jpg", "My backpack contains all the important things I need to function through the day. It contains my laptop, chargers, gum, and schoolwork. Although its not as important as my other two items, it makes things convenient for me to get things done throughout the day." %}