---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1><strong>Three Items</strong> That I Can't Live Without</h1>
<div class="items">
  
  <a href="/keys/" title="Keys">
    <h3>My Keys</h3>
    <img class=object alt="Keys" src="/images/Keys.jpg" width="250">
  </a>

  <a href="/wallet/" title="Wallet">
    <h3>My Wallet</h3>
    <img class=object alt="Wallet" src="/images/Wallet.jpg" width="250">
  </a>

  <a href="/backpack/" title="Backpack">
    <h3>My Backpack</h3>
    <img class=object alt="Backpack" src="/images/Backpack.jpg" width="250">
  </a>
  
</div>
