---
layout: layout.liquid
title: Keys
---
<nav>
    <ul>
      <li><a href="/" title="Return">Return</a></li>
    </ul>
  </nav>

<h1>My <strong>Keys</strong></h1>

{% itemBox "Keys", "/images/Keys.jpg", "These keys are my number one priority, they are what I need in order to get out of my apartment, drive, and go to work. Without them, I'm a sitting duck." %}
