---
layout: layout.liquid
title: Wallet
---
<nav>
    <ul>
      <li><a href="/" title="Return">Return</a></li>
    </ul>
  </nav>

<h1>My <strong>Wallet</strong></h1>

{% itemBox "Wallet", "/images/Wallet.jpg", "This is also very important. Its still manageable for me to go around without my wallet if I'm not busy. But when it comes to work and school, its a must need for me to drive around and to pay for things." %}